dspy==2.6.27
faiss-cpu==1.11.0
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-google-genai==2.1.6
langchain-openai==0.3.27
langchain-text-splitters==0.3.8
litellm==1.73.1
ollama==0.5.1
openai==1.91.0
opik==1.7.31
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.4
rouge_score==0.1.2